@font-face {
  font-family: yeseva;
  src: url(./assets/YesevaOne-Regular.ttf);
}

body {
    background: url('./assets/pexels-pixabay-460537.jpg') no-repeat center center fixed;
    /*Photo by Pixabay: https://www.pexels.com/photo/clear-wine-glass-with-red-wine-460537/*/
    background-size: cover;
    margin: 0;

    font-family: roboto;
    color: white;

    height: 100vh;
}

h1, h2, h3,
header p{
    font-family: yeseva;
}

header {
    background-color: rgba(30, 20, 0, 0.7);
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    font-weight: bold;
    font-size: 40px;
    color: white;
    margin: 0;
    max-width: 65%;
}


header button {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    font-size: 25px;


    padding: 5px 8px;
    margin: 0 5px;
    border: none;
}

#content {
    display: flex;
    justify-content: center;
}

#content #home-container {
    background-color: rgba(30, 20, 0, 0.7);
    margin: 40px;
    padding: 15px;

    max-width: 800px;

    display: grid;

    gap: 40px;

    font-family: roboto;

    white-space: pre-line;
}


#content #home-container h1 {
    justify-self: center;
    text-align: center;
    font-size: 35px;
}

#content #home-container div:nth-child(3) {
    display: grid;
    justify-items: center;
    text-align: center;
}

/*Photo by Chan Walrus: https://www.pexels.com/photo/white-and-brown-cooked-dish-on-white-ceramic-bowls-958545/*/
#content #home-container img {
    height: 300px;
    border: 3px solid brown;
    border-radius: 8px;
}
